@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Quicksand:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #29a56c;
  --second-color: #3bb77e;
  --text-color: #253d4e;
  --second-font: "Quicksand", sans-serif;
}
body {
  scroll-behavior: smooth;
  font-family: "Lato", sans-serif;
}
ul {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
}
.home-title h2 {
  font-size: 32px;
  font-family: "Quicksand", sans-serif;
  color: #253d4e;
  font-weight: 700;
  text-transform: capitalize;
}
.home-title .details {
  transition: all 0.2s ease-in-out;
}
.home-title .details a,
.home-title .details svg {
  color: #242424;
  font-size: 16px;
}
.home-title .details:hover a,
.home-title .details:hover svg {
  color: var(--main-color);
}

.home-title .details svg {
  width: 16px;
  height: 16px;
}
.section {
  margin-top: 50px;
}
/***big-navbar****/
.big-navbar .big-nav-bottom.active {
  position: fixed;
  left: 0;
  z-index: 25;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px;
  animation-name: fadeInDown;
  animation-duration: 400ms;
  animation-fill-mode: both;
  transition: all 400ms ease-in-out;
  width: 100%;
  background-color: #fff;
}
@keyframes fadeInDown {
  0% {
    top: -80px;
  }
  100% {
    top: 0;
  }
}
.big-navbar .big-nav-top {
  padding: 10px 0;
  text-transform: capitalize;
  border-bottom: 1px solid #ececec;
}
.big-navbar .big-nav-top ul li a,
.big-navbar .big-nav-top h6 {
  color: #7e7e7e;
  font-weight: 500;
  font-size: 14px;
}
.big-navbar .big-nav-top ul li:hover a {
  color: #333;
}
.big-navbar .big-nav-top ul li,
.big-navbar .big-nav-top h6:not(:last-child) {
  position: relative;
  margin-right: 20px;
  transition: all 0.2s ease-in-out;
}
.big-navbar .big-nav-top h6 .call {
  color: #3bb77e;
  font-weight: 600;
}
.big-navbar .big-nav-top ul li:not(:last-child)::after,
.big-navbar .big-nav-top h6:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -10px;
  top: 50%;
  width: 2px;
  transform: translateY(-50%);
  height: 10px;
  background: #dedfe2;
}
.big-navbar .big-nav-top h6 .currency {
  text-transform: uppercase;
}
.big-navbar .big-nav-middle {
  padding: 30px 0;
  border-bottom: 1px solid #ececec;
}
.big-navbar .big-nav-middle .search {
  margin-left: 75px;
  border: 2px solid #bce3c9;
  border-radius: 4px;
  max-width: 700px;
  width: 700px;
  height: 55px;
}
.big-navbar .big-nav-middle .search form {
  width: 100%;
  height: 40px;
  margin-left: 10px;
}
.big-navbar .big-nav-middle .search .search-select {
  width: 23%;
  height: 40px;
}
.big-navbar .big-nav-middle .search .search-input::before {
  content: "";
  width: 1px;
  height: 20px;
  background-color: #dedfe2;
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translateY(-50%);
}
.big-navbar .big-nav-middle .search .search-input {
  width: 70%;
  position: relative;
  margin-left: 20px;
}

.big-navbar .big-nav-middle .search .search-input input {
  width: 100%;
  height: 40px;
  border: none;
  box-shadow: none;
  outline: none;
}
.big-navbar .big-nav-middle .search .search-icon {
  width: 5%;
}
.big-navbar .big-nav-middle .search .search-icon svg {
  width: 22px;
  height: 22px;
  color: #868686;
}
.big-navbar .big-nav-middle .css-1u9des2-indicatorSeparator {
  background-color: #fff;
}
.big-navbar .big-nav-middle .right .content {
  position: relative;
  margin-left: 20px;
}
.big-navbar .big-nav-middle .right .content .details .title h6 {
  font-size: 16px;
  text-transform: capitalize;
  margin-left: 7px;
  color: #7e7e7e;
  font-family: var(--second-font);
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}
.big-navbar .big-nav-middle .right .content:hover .details .title h6 {
  color: #333;
}
.big-navbar .big-nav-middle .right .content .count {
  position: absolute;
  top: -9px;
  left: 14px;
  background-color: var(--second-color);
  width: 22px;
  height: 22px;
  text-align: center;
  line-height: 22px;
  border-radius: 50%;
  color: #fff;
}
.big-navbar .big-nav-bottom {
  padding: 10px 0;
  text-transform: capitalize;
  border-bottom: 1px solid #ececec;
}
.big-navbar .big-nav-bottom .browse-categories {
  background-color: var(--second-color);
  color: #fff;
  padding: 13px 15px;
  border-radius: 6px;
  margin-right: 70px;
  transition: all 0.2s ease-in-out;
}
.big-navbar .big-nav-bottom .browse-categories:hover {
  cursor: pointer;
}
.big-navbar .big-nav-bottom .browse-categories h6 {
  padding-left: 6px;
  padding-right: 6px;
  font-weight: 800;
  font-family: "Quicksand", sans-serif;
  font-size: 17px;
}
.big-navbar .big-nav-bottom .browse-categories svg {
  width: 20px;
  height: 20px;
}
.big-navbar .big-nav-bottom .links ul li {
  margin-right: 28px;
  transition: all 0.2s ease-in-out;
}

.big-navbar .big-nav-bottom .links ul li a {
  font-size: 17px;
  font-family: var(--second-font);
  color: var(--text-color);
  font-weight: 800;
}
.big-navbar .big-nav-bottom .links ul li:hover a {
  color: var(--second-color);
}
.big-navbar .big-nav-bottom .links ul li a.active {
  color: var(--main-color);
}
.big-navbar .big-nav-bottom .links ul li a span {
  padding-left: 4px;
}
.big-navbar .big-nav-bottom .links ul li a img {
  margin-bottom: 2px;
}
.big-navbar .big-nav-bottom .right p {
  font-size: 26px;
  font-weight: 700;
  font-family: var(--second-font);
  display: block;
  line-height: 1;
  color: var(--second-color);
}
.big-navbar .big-nav-bottom .right p span {
  font-weight: 500;
  font-size: 12px;
  font-family: "Lato", sans-serif;
  color: #7e7e7e;
  display: block;
  letter-spacing: 0.9px;
}
/*subscribe-content*/
.subscribe-content {
  margin-top: 50px;
  background: url("/images/banner-10.png") center/cover no-repeat;
  padding: 84px 78px;
  display: table;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  min-height: 230px;
  display: flex;
  position: relative;
}
.subscribe-content .subscribe-content-right h4 {
  color: #253d4e;
  font-size: 40px;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
}
.subscribe-content p {
  padding: 1.3rem 0;
  color: #7e7e7e;
  font-family: "Quicksand", sans-serif;
  font-size: 21px;
  font-weight: 600;
}
.subscribe-content p a {
  color: #3bb77e;
}
.subscribe-content p a:hover {
  color: var(--main-color);
}
.subscribe-content .form-subscribe input,
.subscribe-content .form-subscribe button {
  border: none;
}
.subscribe-content .form-subscribe input:focus,
.subscribe-content .form-subscribe button:focus {
  outline: none;
  box-shadow: none;
}
.subscribe-content .form-subscribe {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 10px;
  position: relative;
  background-color: #fff;
  border-radius: 35px;
}
.subscribe-content .form-subscribe svg {
  position: absolute;
  left: 20px;
  color: #7e7e7e;
  width: 20px;
  height: 20px;
}
.subscribe-content .form-subscribe input {
  height: 70px;
  line-height: 70px;
  width: 323px;
  border-radius: 35px;
  padding-left: 49px;
  font-size: 16px;
  color: #253d4e;
}
.subscribe-content .form-subscribe button {
  position: absolute;
  right: 0px;
  border-radius: 35px;
  line-height: 70px;
  background-color: #3bb77e;
  width: 170px;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  font-family: "Quicksand", sans-serif;
  text-transform: capitalize;
  letter-spacing: 1px;
  transition: all 0.2s ease-in-out;
}
.subscribe-content .form-subscribe button:hover {
  background-color: #29a56c;
}
@media (max-width: 768px) {
  .subscribe-content {
    padding: 20px;
  }
  .subscribe-content .subscribe-content-right h4 {
    font-size: 22px;
  }
  .subscribe-content .subscribe-content-right {
    font-size: 16px;
  }
  .subscribe-content .form-subscribe {
    width: 100%;
  }
  .subscribe-content .form-subscribe input {
    width: 65%;
  }
  .subscribe-content .form-subscribe button {
    width: 100px;
    font-size: 14px;
  }
}
@media (max-width: 992px) {
  .follow-us .follow-us-top,
  footer .footer-bottom .follow-us-discount {
    justify-content: flex-end;
  }
}
.subscribe-content-left img {
  position: absolute;
  right: 50px;

  bottom: 0;
  max-width: 40%;
}

.subscribe .subscribe-feature {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
}
.subscribe-feature .feature {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #f4f6fa;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
}
.subscribe-feature .feature .feature-content h4 {
  color: #242424;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
  font-family: "Quicksand", sans-serif;
}
.subscribe-feature .feature .feature-content p {
  margin-bottom: 0;
  color: #adadad;
  margin-top: 5px;
}
/**footer**/
footer {
  margin-top: 80px;
}
footer .footer-top {
  padding-bottom: 50px;
}
footer .footer-content ul li {
  margin-bottom: 10px;
  font-size: 16px;
  color: #253d4e;
  text-transform: capitalize;
  transition: all 0.2s ease-in-out;
}
footer .footer-content .footer-company ul li:hover,
footer .footer-content .footer-account ul li:hover,
footer .footer-content .footer-popular ul li:hover {
  padding-left: 6px;
}
footer .footer-content .footer-nest {
  margin-top: 15px;
}
footer .footer-content .footer-nest .footer-nest-content {
  margin-bottom: 15px;
}
footer .footer-content .footer-nest .footer-nest-content p {
  margin-top: 20px;
  font-size: 18px;
  color: #253d4e;
}
footer .footer-nest-details ul li {
  margin-bottom: 10px;
}
footer .footer-nest-details ul li p {
  color: #253d4e;
  padding-left: 10px;
}
footer .footer-nest-details ul li span {
  font-weight: 600;
}
footer .footer-content .footer-company p,
footer .footer-content .footer-account p,
footer .footer-content .footer-popular p {
  margin-top: 15px;
  font-family: "Quicksand", sans-serif;
  color: #253d4e;
  font-weight: 700;
  line-height: 1.2;
  font-size: 24px;
  text-transform: capitalize;
}
footer .footer-content .footer-company ul,
footer .footer-content .footer-account ul,
footer .footer-content .footer-account ul,
footer .footer-content .footer-popular ul {
  margin-top: 20px;
}
footer .footer-content .footer-company ul li,
footer .footer-content .footer-account ul li,
footer .footer-content .footer-account ul li,
footer .footer-content .footer-popular ul li {
  transition: all 0.2s ease-in-out;
}
footer .footer-content .footer-company ul li:hover,
footer .footer-content .footer-account ul li:hover,
footer .footer-content .footer-account ul li:hover,
footer .footer-content .footer-popular ul li:hover {
  cursor: pointer;
  color: #29a56c;
}
/*footer- bottom*/
.footer-bottom {
  border-top: 1px solid #ececec;
  padding: 30px 0;
}
footer .footer-bottom .copyright p {
  font-size: 16px;
  color: #7e7e7e;
}
footer .footer-bottom .copyright p span {
  color: #29a56c;
  font-weight: 600;
}
footer .follow-us .follow-us-icons .follow-us-facebook,
footer .follow-us .follow-us-icons .follow-us-twitter,
footer .follow-us .follow-us-icons .follow-us-instagram,
footer .follow-us .follow-us-icons .follow-us-pinterest,
footer .follow-us .follow-us-icons .follow-us-youtube {
  background-color: #29a56c;
  width: 30px;
  height: 30px;
  border-radius: 50%;

  text-align: center;
}
footer .follow-us .follow-us-content p {
  font-family: "Quicksand", sans-serif;
  color: #253d4e;
  font-weight: 700;
}
footer .follow-us .follow-us-icons .follow-us-facebook {
  margin-left: 20px;
}
footer .follow-us .follow-us-icons .follow-us-twitter,
footer .follow-us .follow-us-icons .follow-us-instagram,
footer .follow-us .follow-us-icons .follow-us-pinterest,
footer .follow-us .follow-us-icons .follow-us-youtube {
  margin-left: 10px;
}
footer .follow-us .follow-us-icons .follow-us-facebook img,
footer .follow-us .follow-us-icons .follow-us-twitter img,
footer .follow-us .follow-us-icons .follow-us-instagram img,
footer .follow-us .follow-us-icons .follow-us-pinterest img,
footer .follow-us .follow-us-icons .follow-us-youtube img {
  width: 20px;
  height: 20px;
}

footer .footer-bottom .call-us .call-us-image img {
  opacity: 0.5;
  min-width: 10px;
  margin-right: 12px;
  max-width: 30px;
  height: 39px;
}
footer .footer-bottom .call-us .call-us-left {
  margin-left: 50px;
}
@media (max-width: 1200px) {
  footer .footer-bottom .call-us .call-us-left {
    margin-left: 20px;
  }
}
@media screen and (max-width: 1200px) and (min-width: 992px) {
  footer .footer-bottom .call-us .call-us-content h6 {
    font-size: 22px;
  }
}

footer .footer-bottom .call-us .call-us-content h6 {
  color: #3bb77e;
  font-size: 26px;
  font-weight: 700;
  font-family: "Quicksand", sans-serif;
  display: block;
  line-height: 1;
}
@media (min-width: 1200px) {
  footer .footer-bottom .call-us .call-us-content h6 {
    font-size: 23px;
  }
}
@media (min-width: 1400px) {
  footer .footer-bottom .call-us .call-us-content h6 {
    font-size: 26px;
  }
}
@media screen and (max-width: 1200px) and (min-width: 992px) {
  footer .footer-bottom .call-us .call-us-content h6 {
    font-size: 21px;
  }
}
footer .footer-bottom .call-us .call-us-content p {
  font-weight: 500;
  font-size: 12px;
  font-family: "Quicksand", sans-serif;
  color: #7e7e7e;
  display: block;
  letter-spacing: 0.9px;
}
footer .footer-bottom .follow-us-discount {
  color: #7e7e7e;
}
/**home-header*/
.home-header {
  margin-top: 30px;
  overflow: hidden;
}
.home-header .first-home-slider,
.home-header .second-home-slider {
  background-image: url("/images/slider-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 550px;
  border-radius: 25px;
  position: relative;
  position: relative;
  z-index: 100;
}
.home-header .first-home-slider {
  background-image: url("/images/slider-1.png");
}
.home-header .slider-content {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}
.home-header .slider-content h2 {
  font-size: 72px;
  font-family: "Quicksand", sans-serif;
  color: #253d4e;
  font-weight: 900;
  line-height: 1;
}
.home-header .slider-content p {
  font-size: 32px;
  margin-top: 25px;
  margin-bottom: 40px;
  color: #7e7e7e;
}

.home-header .slider-form form {
  height: 65px;
  line-height: 65px;
  background-color: #fff;
  border-radius: 50px;
  padding-left: 16px;
  width: 480px;
}
.home-header .slider-form form span svg {
  color: #7e7e7e;
}
.home-header .slider-form form input {
  border: none;
  width: 280px;
  margin-left: 10px;
  height: 65px;
}
.home-header .slider-form form input:focus {
  outline: none;
}
.home-header .slider-form form button {
  border: none;
  width: 158px;
  height: 65px;
  border-radius: 50px;
  color: #fff;
  background-color: #3bb77e;
  font-size: 18px;
  text-transform: capitalize;
  letter-spacing: 0.5px;
}
.home-header .slider-form form button:hover {
  background-color: #29a56c;
}
.home-header .slick-prev {
  position: absolute;
  top: 50%;
  left: 10px;
  z-index: 10;
  transform: translateY(-50%);
  background-color: #f2f3f4;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.home-header .slick-prev:hover,
.home-header .slick-prev:focus,
.home-header .slick-next:hover,
.home-header .slick-next:focus {
  background-color: #29a56c;
}
.home-header .slick-next {
  right: 10px;
  position: absolute;
  top: 50%;
  z-index: 10;
  transform: translateY(-50%);
  background-color: #f2f3f4;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.home-header .slick-prev:before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' fill='black' height='24'><path d='M7.293 4.707 14.586 12l-7.293 7.293 1.414 1.414L17.414 12 8.707 3.293 7.293 4.707z' /%3E%3C/svg%3E ");
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%) rotate(180deg);
  transition: all 0.1s ease-in-out;
}
.home-header .slick-prev:hover:before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' fill='white' height='24'><path d='M7.293 4.707 14.586 12l-7.293 7.293 1.414 1.414L17.414 12 8.707 3.293 7.293 4.707z' /%3E%3C/svg%3E ");
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%) rotate(180deg);
}
.home-header .slick-next:before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' fill='black' height='24'><path d='M7.293 4.707 14.586 12l-7.293 7.293 1.414 1.414L17.414 12 8.707 3.293 7.293 4.707z' /%3E%3C/svg%3E ");
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%) rotate(360deg);
  transition: all 0.1s ease-in-out;
}
.home-header .slick-next:hover:before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' fill='white' height='24'><path d='M7.293 4.707 14.586 12l-7.293 7.293 1.414 1.414L17.414 12 8.707 3.293 7.293 4.707z' /%3E%3C/svg%3E ");
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%) rotate(360deg);
}
/***feature-categories***/
.feature-categories {
  margin-top: 50px;
}
.feature-categories .feature-categories-content {
  margin-top: 35px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  grid-gap: 20px;
}
.feature-categories .feature-categories-content .category {
  text-align: center;
  border-radius: 10px;
  padding-bottom: 12px;
  padding-top: 10px;
  border: 1px solid #f4f6fa;
  transition: all 0.1s ease-in-out;
  display: inline-block;
}
.feature-categories .feature-categories-content .category:hover {
  box-shadow: 5px 5px 15px rgb(0 0 0 / 5%);
  border: 1px solid #bce3c9;
  cursor: pointer;
}
.feature-categories .feature-categories-content .slick-slide {
  margin-right: 10px !important;
  width: 130px !important;
}
.feature-categories .feature-categories-content .category .category-img {
  margin: 0 auto;
}

.feature-categories .feature-categories-content .category .category-item h5 {
  color: #253d4e;
  padding-top: 8px;
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 8px;
}
.feature-categories
  .feature-categories-content
  .category
  .category-item
  h5:hover {
  color: #29a56c;
}
.feature-categories .feature-categories-content .category .category-item p {
  color: #7e7e7e;
  font-size: 15px;
}
/**.categories-shop**/

.categories-shop .first-category-shop,
.categories-shop .second-category-shop,
.categories-shop .third-category-shop {
  background: url("/images/banner-1.png") center right/cover no-repeat;
  border-radius: 10px;
  height: 290px;
  position: relative;
}
.categories-shop .second-category-shop {
  background: url("/images/banner-2.png") center right/cover no-repeat;
}
.categories-shop .third-category-shop {
  background: url("/images/banner-3.png") center right/cover no-repeat;
}
.categories-shop .first-category-shop h3,
.categories-shop .second-category-shop h3,
.categories-shop .third-category-shop h3 {
  padding-top: 60px;
  padding-left: 20px;
  line-height: 1.3;
  font-size: 26px;
  color: #253d4e;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
}
.categories-shop .third-category-shop h3:hover,
.categories-shop .first-category-shop h3:hover,
.categories-shop .second-category-shop h3:hover {
  transform: translateY(-10px);
}
.categories-shop .first-category-shop .detail,
.categories-shop .second-category-shop .detail,
.categories-shop .third-category-shop .detail {
  position: absolute;
  bottom: 50px;
  margin-left: 20px;
  margin-top: 20px;
  background-color: #3bb77e;
  width: 105px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 4px;
  transition: all 0.1s ease-in-out;
}
.categories-shop .first-category-shop .detail:hover,
.categories-shop .second-category-shop .detail:hover,
.categories-shop .third-category-shop .detail:hover {
  background-color: #fdc040;
  cursor: pointer;
}

.categories-shop .first-category-shop .detail a,
.categories-shop .second-category-shop a,
.categories-shop .third-category-shop a {
  color: #fff;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 13px;
  font-family: "Quicksand", sans-serif;
}
.categories-shop .first-category-shop .detail svg,
.categories-shop .second-category-shop .detail svg,
.categories-shop .third-category-shop .detail svg {
  width: 20px;
  height: 20px;
}
/**popular products **/

.products-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 20px;
  margin-top: 50px;
}
.product-list {
  border: 1px solid #ececec;
  padding: 20px 15px 20px 15px;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}
.product-list:hover {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
  border: 1px solid #bce3c9;
}

.product-list .product-head {
  transition: all 0.2s ease-in-out;
  position: relative;
  text-align: center;
}
.product-list .product-head .hide {
  display: none;
}
.product-list:hover .product-head .show {
  display: none;
}
.product-list:hover .product-head .hide {
  display: inline-block;
}
.product-list .product-head .product-details {
  display: none;
}
.product-list:hover .product-head .product-details {
  display: inline-block;
}
.product-list .product-head .product-details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #bce3c9;
  box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  width: 140px;
}
.product-list .product-head .product-details p {
  width: 45px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  display: inline-block;
  transition: all 0.2s ease-in-out;
}
.product-list .product-head .product-details p:not(:last-child) {
  border-right: 1px solid #bce3c9;
}
.product-list .product-head .product-details p:hover svg {
  color: #fdc040;
}
.product-list .product-head .product-details p:hover {
  cursor: pointer;
}
.product-list .product-head .product-details p svg {
  color: var(--main-color);
  width: 18px;
  height: 18px;
}

.product-list .product-category p {
  color: #adadad;
  font-size: 14px;
  font-weight: 00;
  text-transform: capitalize;
}
.product-list .product-title h2 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
  text-transform: capitalize;
  font-family: var(--second-font);
}
.product-list .product-title h2 a {
  color: var(--text-color);
  transition: all 0.2s ease-in-out;
}
.product-list .product-title h2 a:hover {
  color: var(--second-color);
}
.product-list .stars svg {
  color: #fdc040;
  width: 15px;
  height: 15px;
  margin-right: 1px;
}

.product-list .stars .review {
  padding-left: 5px;
  font-size: 14px;
  color: #b6b6b6;
  font-weight: 500;
}
.product-list .product-vendor {
  margin-top: 7px;
}
.product-list .product-vendor h6 {
  color: var(--second-color);
  text-transform: capitalize;
}
.product-list .product-info {
  margin-top: 15px;
}
.product-list .product-info .price {
  color: var(--second-color);
  font-family: var(--second-font);
  font-size: 20px;
  font-weight: bold;
}

.product-list .product-info .old-price {
  font-size: 16px;
  color: #adadad;
  text-decoration: line-through;
  font-weight: bold;
}
.product-list .product-info .add-cart button {
  padding: 10px 20px;
  border-radius: 4px;
  background-color: #def9ec;
  font-size: 14px;
  font-weight: 700;
  border: none;
  color: var(--second-color);
  transition: all 0.2s ease-in-out;
}
.product-list .product-info .add-cart button svg {
  width: 18px;
  height: 18px;
}
.product-list .product-info .add-cart button:hover {
  background-color: var(--second-color);
  color: #fff;
}
/**home best-sell***/
/**best-sell**/
.best-sell {
  overflow: hidden;
}
.best-sell .best-sell-banner {
  background-image: url("/images/banner-4.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 550px;
  border-radius: 10px;
  margin-top: 35px;
}
.best-sell .best-sell-banner h3 {
  padding-top: 70px;
  padding-left: 50px;
  padding-right: 20px;
  font-size: 42px;
  color: #253d4e;
  line-height: 1.3;
  font-family: "Quicksand", sans-serif;
  font-weight: 900;
}
.best-sell .best-sell-banner a {
  display: inline-block;
  margin-top: 80px;
  margin-left: 50px;
  padding: 6px 12px;
  color: #fff;
  border-radius: 4px;
  text-transform: capitalize;
  background-color: #3bb77e;
  transition: all 0.1s ease-in-out;
}
.best-sell .best-sell-banner a:hover {
  background-color: #fdc040;
}
.best-sell .best-sell-banner svg {
  color: #fff;
}

/**best-sell-content**/
.best-sell .best-sell-content {
  margin-top: 35px;
}
/**best-sell-content**/
.best-sell .best-sell-content {
  margin-top: 35px;
}
.best-sell .best-sell-content .product {
  border: 1px solid #ececec;
  padding: 20px 15px 20px 15px;
  border-radius: 10px;
  transition: all 0.1s ease-in-out;
  position: relative;
  height: 550px;
}
.best-sell .best-sell-content .product .product-img {
  width: 220px;
  width: 220px;
  margin: auto;
  margin-bottom: 20px;
  position: relative;
}
.best-sell .best-sell-content .product .product-img img {
  width: 100%;
}
/**end quick view***/
.best-sell .best-sell-content .product:hover {
  box-shadow: 5px 5px 15px rgb(0 0 0 / 5%);
  border: 1px solid #bce3c9;
}
.best-sell .best-sell-content .product:hover .product-img .product-info {
  visibility: visible;
}
.best-sell .best-sell-content .product .category {
  color: #adadad;
  text-transform: capitalize;
  font-size: 15px;
}

.best-sell .best-sell-content .product h5 {
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
  color: #253d4e;
  font-weight: 700;
  line-height: 1.5;
  margin-top: 5px;
  margin-bottom: 2px;
  transition: all 0.1s ease-in-out;
}
.best-sell .best-sell-content .product h5:hover {
  color: #29a56c;
}
.best-sell .best-sell-content .product .stars {
  margin-bottom: 15px;
}
.best-sell .best-sell-content .product .stars svg {
  color: #fdc040;
}
.best-sell .best-sell-content .product .stars span {
  color: #7e7e7e;
}
.best-sell .best-sell-content .product .new-price {
  color: #3bb77e;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 25px;
}

.best-sell .best-sell-content .product .old-price {
  font-size: 18px;
  text-decoration: line-through;
  color: #7e7e7e;
}
.best-sell .best-sell-content .product .add-cart {
  width: 88%;
  border: none;
  text-align: center;
  height: 45px;
  justify-content: center;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  color: #fff;
  background-color: #3bb77e;
  text-transform: capitalize;
  border-radius: 5px;
  transition: all 0.1s ease-in-out;
  position: absolute;
  bottom: 20px;
}
.best-sell .best-sell-content .product .add-cart:hover {
  background-color: #fdc040;
}
.best-sell .best-sell-content .product .add-cart .cart-title {
  padding-left: 5px;
}
.best-sell .best-sell-content .product .add-cart svg {
  width: 18px;
  height: 18px;
}
.best-sell .best-sell-content .slick-slide div {
  margin-right: 10px;
}
.best-sell .best-sell-content .product .progress {
  margin-top: 10px;
  height: 6px;
}
.best-sell .best-sell-content .product .progress-bar {
  background-color: #3bb77e;
}
.best-sell .best-sell-content .product .product-sold-count {
  color: #242424;
  font-size: 13px;
  text-transform: capitalize;
  margin-top: 5px;
}
.best-sell .slick-prev {
  position: absolute;
  top: 37%;
  left: 16px;
  z-index: 10;
  background-color: #f2f3f4;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.best-sell .slick-prev:hover,
.best-sell .slick-prev:focus,
.best-sell .slick-next:hover,
.best-sell .slick-next:focus {
  background-color: #29a56c;
}
.best-sell .slick-next {
  right: 35px;
  position: absolute;
  top: 37%;
  z-index: 10;
  background-color: #f2f3f4;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.best-sell .slick-prev:before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' fill='black' height='24'><path d='M7.293 4.707 14.586 12l-7.293 7.293 1.414 1.414L17.414 12 8.707 3.293 7.293 4.707z' /%3E%3C/svg%3E ");
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%) rotate(180deg);
  transition: all 0.1s ease-in-out;
}
.best-sell .slick-prev:hover:before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' fill='white' height='24'><path d='M7.293 4.707 14.586 12l-7.293 7.293 1.414 1.414L17.414 12 8.707 3.293 7.293 4.707z' /%3E%3C/svg%3E ");
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%) rotate(180deg);
}
.best-sell .slick-next:before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' fill='black' height='24'><path d='M7.293 4.707 14.586 12l-7.293 7.293 1.414 1.414L17.414 12 8.707 3.293 7.293 4.707z' /%3E%3C/svg%3E ");
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%) rotate(360deg);
  transition: all 0.1s ease-in-out;
}
.best-sell .slick-next:hover:before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' fill='white' height='24'><path d='M7.293 4.707 14.586 12l-7.293 7.293 1.414 1.414L17.414 12 8.707 3.293 7.293 4.707z' /%3E%3C/svg%3E ");
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%) rotate(360deg);
}
.best-sell .product-img .hide {
  display: none;
}
.best-sell .product-img:hover .show {
  display: none;
}
.best-sell .product-img:hover .hide {
  display: inline-block;
}
/***scroll-top***/
.scroll-top {
  position: fixed;
  right: 1rem;
  bottom: -200px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #29a56c;
  border-radius: 20%;
  z-index: 25;
  transition: 0.5s;
  color: white;
}
.scroll-top svg {
  width: 1.6rem;
  height: 1.6rem;
}
.scroll-top:hover {
  cursor: pointer;
  background-color: var(--second-color);
}
.scroll-top.active {
  bottom: 1.6rem;
}
/**error-page****/
.error-page {
  position: relative;
  height: 100vh;
  width: 100vw;
}
.error-page .content {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.error-page .content .img {
  text-align: center;
}

.error-page .content h2 {
  margin-top: 25px;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  color: #253d4e;
  text-transform: capitalize;
  font-size: 64px;
}
.error-page .content p {
  color: #7e7e7e;
  font-size: 17px;
  margin-top: 20px;
}
.error-page .content p a {
  color: #3bb77e;
  transition: all 0.1s ease-in;
}
.error-page .content p a:hover {
  color: #fdc040;
}
.error-page .content .back-home {
  background-color: #3bb77e;
  color: #fff;
  border-radius: 5px;
  margin: auto;
  margin-top: 30px;
  transition: all 0.1s ease-in;
  width: 220px;
  height: 55px;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  padding-left: 7px;
  color: #fff;
  font-size: 18px;
}
.error-page .content .back-home:hover {
  background-color: #fdc040;
  cursor: pointer;
}

.error-page .content .back-home svg {
  width: 17px;
  height: 17px;
  margin-right: 5px;
}
/**about page**/
.about-info {
  margin-top: 100px;
}
.about-info .about-info-img img {
  border-radius: 15px;
}
.about-info .about-info-content h1 {
  font-family: "Quicksand", sans-serif;
  color: #253d4e;
  text-transform: capitalize;
  font-size: 34px;
  font-weight: 700;
}
.about-info .about-info-content .first-info {
  margin-top: 20px;
  color: #7e7e7e;
}
.about-info-content .second-info {
  margin-top: 30px;
  color: #7e7e7e;
}
.about-info .about-info-content .about-info-slider {
  margin-top: 30px;
  position: relative;
}
.about-info .about-info-content .about-info-slider .about-slider-img {
  margin-right: 5px;
}
.about-info .about-info-content .about-info-slider .about-slider-img img {
  border-radius: 5px;
}
.about-info-slider:hover .slick-next,
.about-info-slider:hover .slick-prev {
  visibility: visible;
}

.about-info-slider .slick-next,
.about-info-slider .slick-prev {
  background-color: #f1f1f1;
  position: absolute;
  right: 20px;
  top: 40%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  z-index: 1;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  transform: rotate(90deg);
}
.about-info-slider .slick-prev {
  left: 10px;
}
.about-info-slider .slick-next:hover,
.about-info-slider .slick-prev:hover {
  background-color: #3bb77e;
}
.about-info-slider .slick-next::before,
.about-info-slider .slick-prev::before {
  content: url("data:image/svg+xml;charset=UTF-8,  <svg  xmlns='http://www.w3.org/2000/svg' width='24' height='24'><path d='m12 6.586-8.707 8.707 1.414 1.414L12 9.414l7.293 7.293 1.414-1.414L12 6.586z'/></svg>");
}
.about-info-slider .slick-prev::before {
  transform: rotate(180deg);
}
.about-info-slider .slick-next:hover::before {
  content: url("data:image/svg+xml;charset=UTF-8,  <svg stroke='rgb(255, 255, 255)' fill='rgb(255, 255, 255)' xmlns='http://www.w3.org/2000/svg' width='24' height='24'><path d='m12 6.586-8.707 8.707 1.414 1.414L12 9.414l7.293 7.293 1.414-1.414L12 6.586z' /></svg>");
}
.about-info-slider .slick-prev:hover::before {
  content: url("data:image/svg+xml;charset=UTF-8,  <svg stroke='rgb(255, 255, 255)' fill='rgb(255, 255, 255)' xmlns='http://www.w3.org/2000/svg' width='24' height='24'><path d='m12 6.586-8.707 8.707 1.414 1.414L12 9.414l7.293 7.293 1.414-1.414L12 6.586z' /></svg>");
}
/**we-provide**/
.we-provide {
  margin-top: 80px;
}
.we-provide .provide-title h3 {
  font-family: "Quicksand", sans-serif;
  color: #253d4e;
  text-transform: capitalize;
  font-size: 40px;
  font-weight: 700;
}
.we-provide .provide-title .provide-wave {
  margin-top: 20px;
}
.we-provide .provide-content {
  margin-top: 30px;
}
.we-provide .provide-content .provide-item {
  padding: 50px 30px;
  border-radius: 15px;
  border: 1px solid #ececec;
  margin-top: 20px;
  transition: all 0.3s ease-in-out;
}
.we-provide .provide-content .provide-item:hover {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
}
.we-provide .provide-content .provide-item .provide-img {
  margin: auto;
}
.we-provide .provide-content .provide-item p,
.provide-content .provide-item h5 {
  margin-top: 20px;
}
.provide-content .provide-item h5 {
  font-family: "Quicksand", sans-serif;
  color: #253d4e;
  font-weight: 700;
  line-height: 1.2;
  font-size: 24px;
  margin-bottom: 30px;
}
.we-provide .provide-content .provide-item p {
  font-size: 17px;
  color: #7e7e7e;
  font-weight: 400;
  line-height: 24px;
}
/**contactUs**/
.contactUs {
  margin-top: 80px;
}
.contactUs .contact-form h6 {
  color: #3bb77e;
  font-size: 22px;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
}
.contactUs .contact-form h2 {
  font-size: 45px;
  text-transform: capitalize;
  color: #253d4e;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  padding-top: 10px;
}
.contactUs .contact-form form input,
.contactUs .contact-form form textarea {
  margin-top: 20px;
  height: 60px;
  font-size: 16px;
  padding-left: 10px;
  text-transform: capitalize;
  color: #adadad;
  border-radius: 5px;
  border: 1px solid #ececec;
  display: inline-block;
  width: 100%;
  margin-left: 35px;
}
.contactUs .contact-form form input:first-child,
.contactUs .contact-form form .phone,
.contactUs .contact-form form textarea {
  margin-left: 0;
}
.contactUs .contact-form form textarea {
  padding-top: 15px;
  resize: none;
}
.contactUs .contact-form form input:focus,
.contactUs .contact-form form textarea:focus {
  border: 1px solid #3bb77e;
  outline: none;
}
.contactUs .contact-form form textarea {
  height: 150px;
}
.contactUs .contact-img {
  width: 400px;
}
.contactUs .contact-img img {
  border-radius: 15px;
}
.contactUs .contact-form button {
  border: 1px solid transparent;
  padding: 15px 25px;
  border-radius: 6px;
  margin-top: 40px;
  text-transform: capitalize;
  background-color: #253d4e;
  color: #fff;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
}
.contactUs .contact-form button:hover {
  background-color: #29a56c;
}
/***shop-page***/
.shop-page .shop-slider .slider-head {
  margin-bottom: 15px;
}
.shop-page .shop-slider .slider-head.cat {
  margin-bottom: 35px;
}
.shop-page .shop-slider {
  margin-bottom: 35px;
}
.shop-page .shop-slider .slider-head h3 {
  font-family: var(--second-font);
  color: var(--text-color);
  text-transform: capitalize;
  font-weight: 700;
}
.shop-page .shop-slider .details .details-item {
  margin-bottom: 15px;
}
.shop-page .shop-slider .details .details-item .name h6 {
  text-transform: capitalize;
  color: #333;
  font-size: 17px;
  margin-left: 3px;
  font-weight: 500;
}
.shop-page .shop-slider .details .details-item .count h6 {
  font-size: 16px;
  color: #7e7e7e;
}
.shop-page .shop-slider .input-from input {
  width: 40%;
  height: 35px;
  padding-left: 7px;
  border-radius: 3px;
  border: 1px solid #242424;
}
.shop-page .shop-slider .input-from input:focus {
  border: 2px solid var(--main-color);
  outline: none;
}
.shop-page .shop-slider .input-from input:not(:last-child) {
  margin-right: 10px;
}
.shop-page .shop-slider .input-from input:not(:first-child) {
  margin-left: 10px;
}
.shop-page .shop-slider .input-from h6 {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 600;
  color: #7e7e7e;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
.shop-page .shop-slider .details .stars span {
  display: inline-block;
  margin-right: 3px;
}
.shop-page .shop-slider .details .stars svg {
  color: #fdc040;
}
.shop-page .shop-slider .details .stars .star-empty {
  color: #adadad;
}

.shop-page .shop-slider .details .details-item:hover {
  cursor: pointer;
}
.shop-page .shop-slider .details .details-item:hover h6.star-rating {
  color: #242424;
}
.shop-page .shop-page-products {
  margin-top: 35px;
}
.shop-page .shop-product-header .count h3 {
  font-size: 18px;
  font-weight: 600;
  font-family: var(--second-font);
  color: #253d4e;
}

.shop-page .shop-product-header .count h3 span {
  color: var(--second-color);
}
.shop-page .shop-product-header .product-select {
  margin-right: 20px;
}
.shop-page .shop-product-header .product-select h5 {
  margin-right: 15px;
  font-size: 18px;
  text-transform: capitalize;
  color: #253d4e;
  font-weight: 500;
}
.shop-page .shop-product-header .product-show svg {
  width: 25px;
  height: 25px;
  color: #333;
}
.shop-page .shop-product-header .product-show span {
  display: inline-block;
  margin-left: 13px;
  transition: all 0.2s ease-in-out;
}
.shop-page .shop-product-header .product-show span:hover {
  cursor: pointer;
}
.shop-page .shop-product-header .product-show span:hover svg {
  color: var(--main-color);
}
/***paginate***/
.pagination {
  margin-top: 20px;
}

.pagination .page-item .page-link:hover {
  background-color: #3bb77e;
  color: #fff;
}
.pagination .page-item:not(:first-child) {
  margin-left: 10px;
}
.pagination .page-item.active .page-link {
  background-color: #3bb77e;
  border-color: #3bb77e;
  color: #fff;
  box-shadow: none;
}
.pagination .page-item .page-link {
  text-align: center;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 19px;
  font-family: "Quicksand", sans-serif;
  padding-left: 15px;
  padding-right: 15px;
  color: #333;
}
.pagination .page-item.disabled .page-link {
  background-color: #adadad;
  color: #253d4e;
}
.shop-page .css-k2szx5-control:hover {
  cursor: pointer;
}
.shop-page .css-k2szx5-control:focus {
  cursor: pointer;
}
/***product-page ***/
.product-page .product-info .product-sale {
  background: #fde0e9;
  border-radius: 5px;
  color: #f74b81;
  margin-bottom: 10px;
  padding: 8px 12px;
  display: inline-block;
}
.product-page .product-info .product-sale h5 {
  font-family: var(--second-font);
  font-size: 14px;
  font-weight: 700;
  text-transform: capitalize;
}
.product-page .product-info .product-name {
  margin-bottom: 5px;
  margin-top: 5px;
  width: 600px;
}
.product-page .product-info .product-name h2 {
  font-family: var(--second-font);
  color: #253d4e;
  font-size: 32px;
  font-weight: 700;
}
.product-page .product-info .product-review svg {
  color: #fdc040;
  width: 18px;
  height: 18px;
}
.product-page .product-info .product-review svg {
  margin-right: 1px;
  display: inline-block;
}
.product-page .product-info .product-review svg.star-empty {
  color: #7e7e7e;
}
.product-page .product-info .product-review .review {
  display: inline-block;
  margin-left: 10px;
  color: #7e7e7e;
  font-weight: 600;
}
.product-page .product-info .product-price {
  margin-top: 20px;
}
.product-page .product-info .product-price h2 {
  color: #3bb77e;
  font-family: var(--second-font);
  font-size: 58px;
  font-weight: 700;
  margin-right: 15px;
}
.product-page .product-info .product-price .price-discount p {
  line-height: 1;
  font-size: 12px;
  font-weight: 600;
  color: #fdc040;
}
.product-page .product-info .product-price .price-discount span {
  display: block;
  color: #b6b6b6;
  font-size: 28px;
  font-weight: 700;
  text-decoration: line-through;
  margin-top: 6px;
}
.product-page .product-info .product-description {
  margin-top: 20px;
  width: 600px;
  margin-bottom: 15px;
}
.product-page .product-info .product-description p {
  color: #7e7e7e;
  font-size: 18px;
}
.product-page .product-info .product-sizes h3 {
  color: #7e7e7e;
  font-size: 20px;
  text-transform: capitalize;
}
.product-page .product-info .product-sizes .item {
  border-radius: 5px;
  color: #7e7e7e;
  margin-left: 7px;
  margin-right: 7px;
  transition: all 0.1s ease-in-out;
  font-family: Quicksand, sans-serif;
  font-size: 16px;
  font-weight: 500;
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 45px;
}
.product-page .product-info .product-sizes .item:hover {
  background-color: #3bb77e;
  color: #fff;
  cursor: pointer;
}
.product-page .product-info .product-details {
  margin-top: 12px;
}
.product-page .product-info .product-details p:not(:first-child) {
  margin-top: 5px;
}
.product-page .product-info .product-details p {
  text-transform: capitalize;
  color: #7e7e7e;
}
.product-page .product-info .product-details p span {
  color: var(--second-color);
  display: inline-block;
  margin-left: 2px;
  font-family: var(--second-font);
  font-weight: 600;
}
.product-page .product-info .product-details .right {
  margin-left: 25px;
}
.product-page .product-more-info {
  margin-top: 50px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 35px 50px;
  border-radius: 15px;
}
.product-page .product-more-info .product-menu {
  margin-bottom: 35px;
}
.product-page .product-more-info .product-menu ul li:not(:first-child) {
  margin-left: 15px;
}
.product-page .product-more-info .product-menu ul li {
  border: 1px solid #ececec;
  padding: 10px 25px;
  border-radius: 50px;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 18px;
  color: #7e7e7e;
  font-family: "Quicksand", sans-serif;
  transition: all 0.2s ease-in-out;
}
.product-page .product-more-info .product-menu ul li.active {
  color: #3bb77e;
}
.product-page .product-more-info .product-menu ul li:hover {
  color: #3bb77e;
  cursor: pointer;
}
.product-page .product-more-info .product-more-details .description p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 5px;
  color: #7e7e7e;
}
.product-page .product-more-info .product-more-details .description h3 {
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: "Quicksand", sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: #253d4e;
}
.additional-info table tbody {
  border: 1px solid #f1f1f1;
}
.additional-info table tbody tr td {
  padding: 10px 20px;
  border: 1px solid #ececec;
  vertical-align: middle;
  color: #7e7e7e;
}
/***comments****/
.comments .customer-header {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  color: #253d4e;
  text-transform: capitalize;
}
.comments .customer-header.reviews {
  margin-bottom: 30px;
}
.comments .customer-reviews .customer-review-content {
  margin: 0 0 15px 0;
  border: 1px solid #f2f2f2;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 30px;
}
.comments .customer-form form {
  width: 100%;
}
.comments .customer-form form .style-module_starRatingWrap__q-lJC svg {
  width: 2rem;
  height: 2rem;
}
.comments .customer-form form .star-input {
  display: none;
}
.comments .customer-form form .form-stars {
  transition: all 0.1s ease-in-out;
}
.comments .customer-form form .form-stars:hover svg {
  cursor: pointer;
}
.comments .customer-form form .form-stars svg {
  width: 1.5rem;
  height: 1.5rem;
}
.comments .customer-form form textarea {
  width: 100%;
  border: 1px solid #f2f2f2;
  resize: none;
  padding-left: 20px;
  padding-top: 20px;
  height: 200px;
  border-radius: 5px;
  margin-top: 20px;
}
.comments .customer-form form textarea:focus {
  outline: none;
  border: 1px solid #29a56c;
}
.comments .customer-form form button {
  margin-top: 20px;
  border: none;
  padding: 10px 20px;
  text-transform: capitalize;
  font-size: 18px;
  background-color: #3bb77e;
  color: #fff;
  border-radius: 5px;
  transition: all 0.1s ease-in-out;
}
.comments .customer-form form button:hover {
  background-color: #fdc040;
}
.comments .customer-reviews .customer-img {
  background-color: #def9ec;
  color: #3bb77e;
  text-transform: uppercase;
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  border-radius: 50%;
  margin: auto;
  font-family: "Quicksand", sans-serif;

  font-weight: 700;
}
.comments .customer-reviews .customer-details .customer-details-header h5 {
  text-transform: capitalize;
  color: #242424;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
}
.comments .customer-reviews .customer-details .customer-details-header p {
  color: #7e7e7e;
}
.comments .customer-reviews .customer-details .customer-details-body {
  margin-top: 8px;
}
.comments .customer-reviews .customer-details svg {
  color: #fdc040;
}
.comments .customer-reviews .customer-details p {
  color: #333;
}
.comments .customer-reviews .overall-stars {
  margin-bottom: 35px;
}
.overall-stars span {
  color: #fdc040;
}
.overall-stars p {
  color: #242424;
  padding-left: 10px;
  font-size: 18px;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
}
/****product-page-vendor***/
.product-page .product-page-vendor .info {
  margin-left: 15px;
}
.product-page .product-page-vendor .info h3 {
  color: var(--second-color);
  font-family: var(--second-font);
  font-size: 18px;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
}
.product-page .product-page-vendor .info h3:hover {
  color: var(--main-color);
}
.product-page .product-page-vendor .info .stars svg {
  color: #fdc040;
}
.product-page .product-page-vendor .info .stars svg.star-empty {
  color: #7e7e7e;
}
.product-page .product-page-vendor .info .stars .review {
  margin-left: 5px;
  color: #7e7e7e;
}
.product-page .product-page-vendor .details {
  margin-top: 25px;
  margin-bottom: 35px;
}
.product-page .product-page-vendor .details p {
  margin-left: 8px;
  text-transform: capitalize;
  font-weight: 700;
  color: #242424;
}
.product-page .product-page-vendor .details .location {
  margin-bottom: 10px;
}
.product-page .product-page-vendor .details p span {
  color: #333;
  font-weight: 500;
}
.product-page .product-page-vendor .more-info div:not(:first-child) {
  margin-left: 20px;
}
.product-page .product-page-vendor .more-info div {
  text-align: center;
}
.product-page .product-page-vendor .more-info div span {
  color: var(--main-color);
}

.product-page .product-page-vendor .more-info div p {
  font-family: var(--second-font);
  font-weight: 700;
  color: #253d4e;
  font-size: 24px;
}
.product-page .product-page-vendor .more-info {
  margin-bottom: 25px;
}
/*****vendors-page****/
.vendors-page .head .search {
  text-align: center;
  margin-bottom: 100px;
}
.vendors-page .head .search h2 {
  font-family: var(--second-font);
  color: #253d4e;
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 20px !important;
  font-size: 58px;
}
.vendors-page .head .search .form-search form {
  border-radius: 30px;
  border: 1px solid #ececec;
  width: 450px;
  height: 60px;
  width: 43%;
  margin: 0 auto;
  position: relative;
}
.vendors-page .head .search .form-search form input {
  width: 80%;
  display: block;
  border-left: 1px solid #ececec;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding-left: 20px;
  height: 100%;
  outline: none;
  border: none;
}
.vendors-page .head .search .form-search form button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  background-color: transparent;
  border: none;
  width: 15%;
  height: 60px;
  background-color: var(--second-color);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  color: #fff;
  transition: all 0.2s ease-in-out;
}
.vendors-page .head .search .form-search form button:hover {
  background-color: var(--main-color);
}
.vendors-page .head .search .form-search form button svg {
  width: 22px;
  height: 22px;
}
.vendors-page .vendor-filter .left h5 {
  color: #7e7e7e;
  font-size: 1.2rem;
}

.vendors-page .vendor-filter .left h5 span {
  color: var(--main-color);
  font-family: var(--second-font);
  font-weight: 600;
}
.vendors-page .vendor-filter .right .vendor-select {
  margin-right: 40px;
}
.vendors-page .vendor-filter .right .vendor-select h5 {
  color: #253d4e;
  text-transform: capitalize;
  margin-right: 8px;
}
.vendors-page .vendor-filter .right .vendor-show span {
  transition: all 0.2s ease-in-out;
}
.vendors-page .vendor-filter .right .vendor-show span:not(:last-child) {
  display: inline-block;
  margin-right: 20px;
}
.vendors-page .vendor-filter .right .vendor-show span svg {
  width: 26px;
  height: 26px;
}
.vendors-page .vendor-filter .right .vendor-show span:hover svg {
  color: var(--main-color);
  cursor: pointer;
}
/***vendors-body***/
.vendors-page .vendors-body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 25px;
  margin-top: 80px;
}
.vendors-page .vendors-body .vendor-content {
  border: 1px solid #ececec;
  padding: 20px 15px 30px 15px;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}
.vendors-page .vendors-body .vendor-content:hover {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.05);
  border: 1px solid #bce3c9;
}
.vendors-page .vendors-body .vendor-content .vendor-image {
  margin-bottom: 15px;
}
.vendors-page .vendors-body .vendor-content .vendor-date p {
  color: #b6b6b6;
}
.vendors-page .vendors-body .vendor-content .vendor-head {
  margin-top: 10px;
}
.vendors-page .vendors-body .vendor-content .vendor-head .title h4 {
  font-family: var(--second-font);
  color: #253d4e;
  font-weight: 700;
  font-size: 23px;
}
.vendors-page .vendors-body .vendor-content .vendor-head .title h4:hover {
  color: var(--main-color);
}
.vendors-page .vendors-body .vendor-content .vendor-head .title svg {
  color: #fdc040;
}
.vendors-page .vendors-body .vendor-content .vendor-head .title svg.star-empty {
  color: #7e7e7e;
}
.vendors-page .vendors-body .vendor-content .vendor-head .title .stars span {
  display: inline-block;
  margin-left: 5px;
  color: #7e7e7e;
}
.vendors-page .vendors-body .vendor-content .vendor-head .vendor-products {
  padding: 6px 20px 6px 20px;
  border-radius: 4px;
  background-color: #def9ec;
  font-size: 14px;
  font-weight: 700;
  color: #3bb77e;
  min-width: 123px;
}
.vendors-page .vendors-body .vendor-content .vendor-content-body {
  margin-top: 20px;
}

.vendors-page .vendors-body .vendor-content .vendor-content-body ul li p {
  text-transform: capitalize;
  color: #253d4e;
  margin-left: 8px;
}
.vendors-page .vendors-body .vendor-content .vendor-content-body ul li p span {
  color: #7e7e7e;
}
.vendors-page .vendors-body .vendor-content .vendor-content-body ul li img {
  display: inline-block;
  margin-top: 5px;
}
.vendors-page .vendors-body .vendor-content .vendors-link {
  margin-top: 30px;
}
.vendors-page .vendors-body .vendor-content .vendors-link a {
  border-radius: 4px;
  color: #fff;
  border: 1px solid transparent;
  background-color: #3bb77e;
  transition: all 300ms linear 0s;
  letter-spacing: 0.5px;
  padding: 7px 8px 7px 12px;
}
.vendors-page .vendors-body .vendor-content .vendors-link a:hover {
  background-color: #fdc040;
}
/*****/
/**login**/
.login {
  height: 100vh;
}

.login .login-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: capitalize;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 10px;
  padding: 50px 25px;
}
@media (max-width: 992px) {
  .login .login-content {
    width: 90vw;
  }
}
.login .login-content .login-header,
.login .login-content .login-logo {
  text-align: center;
}
.login .login-content .login-header {
  margin-top: 10px;
  margin-bottom: 20px;
}
.form-control-error {
  border-color: red;
}
.login .login-content .login-header h2 {
  font-size: 34px;
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  color: #253d4e;
}
.login .login-content .login-header p {
  color: #7e7e7e;
}
.login .login-content .login-header p a {
  color: #333;
  transition: all 0.1s ease-in-out;
  font-weight: 700;
  font-family: "Quicksand", sans-serif;
}
.login .login-content .login-header p a:hover {
  color: #3bb77e;
}
.login .login-content label {
  display: block;
  text-align: start;
  color: #7e7e7e;
  margin-bottom: 10px;
}
.login .login-content .form-control {
  height: 50px;
}
.login .login-content .form-control:focus {
  box-shadow: none;
}
.login .forget-password {
  text-align: right;
}
.login .forget-password a {
  color: #7e7e7e;
  transition: all 0.1s ease-in-out;
}
.login .forget-password a:hover {
  color: #333;
}
.login .button-submit {
  margin-top: 20px;
}
.login .button-submit button {
  font-size: 18px;
  width: 100%;
  border: none;
  background-color: #3bb77e;
  padding-top: 11px;
  padding-bottom: 11px;
  border-radius: 5px;
  color: #fff;
  transition: all 0.1s ease-in-out;
}
.login .button-submit button:hover {
  background-color: #fdc040;
}
